@model IEnumerable<AM.ApplicationCore.Domain.Ticket>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Siege)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passenger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flignt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Siege)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passenger.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flignt.Airline)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
